# numpy的CRUD

In [7]:
import numpy as np

# 以下是pandas的CRUD

# 增

In [1]:
import numpy as np, pandas as pd

In [2]:
arr = pd.Series([1,2,3,4],index=['a','b','c','d'])

In [3]:
arr

a    1
b    2
c    3
d    4
dtype: int64

# 查

In [4]:
arr['a']

1

In [5]:
arr.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
type(arr.index)

pandas.core.indexes.base.Index

In [8]:
df = pd.DataFrame(np.random.randn(3,3), index=['a','b','c'], columns=['X','Y','Z'])

In [9]:
df

          X         Y         Z
a  0.720855 -0.509590 -0.412106
b  0.855076  0.740519  0.023397
c  0.449277 -1.429657  0.310223

In [12]:
df['a'] 
# 不能这么写, 因为DataFrame不是一维的, 是二维的!!
# 只能是列索引可以这么用, 行索引这么用会报错的!

KeyError: 'a'

In [11]:
df['X'] # 在DataFrame中, 列是优先选择的! 这里是和多维数组不一样的, 我们后面还会体会到.

a    0.720855
b    0.855076
c    0.449277
Name: X, dtype: float64

In [13]:
# 获取一行的办法
df.loc['a']

X    0.720855
Y   -0.509590
Z   -0.412106
Name: a, dtype: float64

In [14]:
df.loc[0] # 如果想使用数组那样, 使用下标, 那么是会报错的, 下标明确指定是 ['a','b','c']

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [15]:
df.loc['a']

X    0.720855
Y   -0.509590
Z   -0.412106
Name: a, dtype: float64

In [16]:
df.iloc[0] # 不推荐这么用, 因为已经明确指明了行下标的名字.

X    0.720855
Y   -0.509590
Z   -0.412106
Name: a, dtype: float64

In [17]:
df.index # 没有复数的形式

Index(['a', 'b', 'c'], dtype='object')

In [18]:
df.columns # 有复数的形式

Index(['X', 'Y', 'Z'], dtype='object')

In [19]:
df['X','Y'] # df['X']是正确的, 但是df['X', 'Y']是错误的, 正确的写法是 df[['X','Y']], 再嵌套一层.

KeyError: ('X', 'Y')

In [20]:
df[['X','Y']]

          X         Y
a  0.720855 -0.509590
b  0.855076  0.740519
c  0.449277 -1.429657

In [21]:
df[['X']] # 这个和df['X']类型是不一样的.

          X
a  0.720855
b  0.855076
c  0.449277

In [25]:
print(type(df['X']), type(df[['X']])) # 一个是Series, 一个是DataFrame

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [26]:
# 最通用的切片查询, 应该作为经常使用的方法
df.loc['a','X']

0.7208549746659555

In [29]:
df.loc['a':'b', 'X':'Y']

          X         Y
a  0.720855 -0.509590
b  0.855076  0.740519

In [30]:
print(type(df.loc['a':'b', 'X':'Y']))

<class 'pandas.core.frame.DataFrame'>

In [31]:
df.loc[['a','c'],['X','Z']] # 随机选择行和列

          X         Z
a  0.720855 -0.412106
c  0.449277  0.310223

In [32]:
# 给全部加100
df.apply(lambda x: x+100)

            X           Y           Z
a  100.720855   99.490410   99.587894
b  100.855076  100.740519  100.023397
c  100.449277   98.570343  100.310223

In [33]:
df.apply(lambda x: x+100, axis=0)

            X           Y           Z
a  100.720855   99.490410   99.587894
b  100.855076  100.740519  100.023397
c  100.449277   98.570343  100.310223

In [34]:
df.apply(lambda x: x+100, axis=1)

            X           Y           Z
a  100.720855   99.490410   99.587894
b  100.855076  100.740519  100.023397
c  100.449277   98.570343  100.310223

In [35]:
df.apply(lambda x: x[0]+100)  # apply函数暂时不会用, 感觉也没用. TODO

X    100.720855
Y     99.490410
Z     99.587894
dtype: float64

## 聚合查询

In [37]:
df

          X         Y         Z
a  0.720855 -0.509590 -0.412106
b  0.855076  0.740519  0.023397
c  0.449277 -1.429657  0.310223

In [36]:
df.sum()

X    2.025208
Y   -1.198728
Z   -0.078487
dtype: float64

In [38]:
df.mean() # 平均数

X    0.675069
Y   -0.399576
Z   -0.026162
dtype: float64

In [39]:
df.sum(axis=1)

a   -0.200842
b    1.618993
c   -0.670158
dtype: float64

In [40]:
df.sum(axis=0) # 这是默认情况

X    2.025208
Y   -1.198728
Z   -0.078487
dtype: float64

# 修改

In [41]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3), index=[1,2,3]) # 默认行下标和列下标都是 0, 1, 2, 3,....

In [42]:
df1

   0  1  2
1  0  1  2
2  3  4  5
3  6  7  8

In [43]:
df2 = pd.DataFrame(np.arange(9).reshape(3,3), index=[4,5,6])

In [44]:
df2

   0  1  2
4  0  1  2
5  3  4  5
6  6  7  8

In [45]:
df1.concat(df2) # 这么做事错的, DataFrame并没有方法合并另一个相同对象

AttributeError: 'DataFrame' object has no attribute 'concat'

In [46]:
pd.concat(df1, df2) # 必须传一个列表进去, 而不是一个一个的对象

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [47]:
df3 = pd.concat([df1, df2]) # df1和df2本身并没有改变, 而是返回了一个新的对象df3

In [48]:
df3

   0  1  2
1  0  1  2
2  3  4  5
3  6  7  8
4  0  1  2
5  3  4  5
6  6  7  8

In [49]:
df1

   0  1  2
1  0  1  2
2  3  4  5
3  6  7  8

In [50]:
df4 = pd.DataFrame([[1,'zhangsan'],[2,'lisi']], columns=['id','name'])

In [51]:
df4

   id      name
0   1  zhangsan
1   2      lisi

In [52]:
df5 = pd.DataFrame([[1,'语文课代表'],[2,'数学课代表']], columns=['id','class_role'])

In [53]:
df5

   id class_role
0   1      语文课代表
1   2      数学课代表

In [54]:
pd.merge([df4,df5]) # 这个又他妈的是不要 序列

TypeError: merge() missing 1 required positional argument: 'right'

In [55]:
pd.merge(df4, df5)

   id      name class_role
0   1  zhangsan      语文课代表
1   2      lisi      数学课代表

In [56]:
df6 = pd.DataFrame([[2,'数学课代表'],[1,'语文课代表']], columns=['id','class_role'])  # 调换顺序, 依然能够准确匹配.

In [57]:
df6

   id class_role
0   2      数学课代表
1   1      语文课代表

In [58]:
pd.merge(df4, df6)

   id      name class_role
0   1  zhangsan      语文课代表
1   2      lisi      数学课代表

In [59]:
df

          X         Y         Z
a  0.720855 -0.509590 -0.412106
b  0.855076  0.740519  0.023397
c  0.449277 -1.429657  0.310223

# 删除

In [60]:
del df['X'] # 可以像删除列表的元素一样删掉一列

In [61]:
df

          Y         Z
a -0.509590 -0.412106
b  0.740519  0.023397
c -1.429657  0.310223

In [62]:
df['X1'] =pd.Series([1,2,3]) # 不能直接给一列直接赋值吗?

In [63]:
df

          Y         Z  X1
a -0.509590 -0.412106 NaN
b  0.740519  0.023397 NaN
c -1.429657  0.310223 NaN

In [64]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [65]:
df.loc['a','X1'] = 100 # 可以单个修改

In [66]:
df

          Y         Z     X1
a -0.509590 -0.412106  100.0
b  0.740519  0.023397    NaN
c -1.429657  0.310223    NaN